
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
}

.container{
    width: 85%;
    margin: auto;
}
.navbar{
    
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 2rem;
    
    
}
.logo img{
    width: 50px;
}
.menu{
    display: flex;
    list-style: none;
   gap: 2rem;
   align-items: center;
}
.menu ul li{
    display: inline-block;
    list-style: none;
   
}
.menu ul li a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        padding: 0px 10px;
        color: #191919;
     }
.nav-buton{
    outline: none;
    border: none;
    color: #F9F9F9;
    padding: 10px;
    background-color: #FD6060;
}


.mini{
  background-color: #F9F9F9;
  padding: 6px;
  border-radius: 50%;
  font-size: 18px;
}
.hero{
   padding-left: 16%;
   display: flex;
  
}

.image{
    padding-left: 30%;
    padding-bottom: 18%;
}

.hero h1 {
  font-size: 60px;
  font-weight: 900;
  color: #191919;          
  line-height: 1.3;
  margin-top: 8%;
}

.highlight {
  color: #191919;
}

.delicious {
  color: #191919;
  margin-right: 10px;
}

.icons {
  display: inline-flex;
  align-items: center;
  position: relative;
}
 
.circle img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.circle {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -12px; 
  overflow: hidden;
}

.red {
  background: #fd6060;
}

.yellow {
  background: #FFbc0d;
}

.black {
  background: #191919;
}

.image-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.image-text img {
  width: 75px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

button {
  border: none;
  padding: 14px 28px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.order {
  background: #fd6060;
  color: #f9f9f9;
}

.order:hover {
  background: #fd6060;
}

.offer {
  background: #FFbc0d;
  color: #191919;
}

.offer:hover {
  background:#FFbc0d;
}

.center{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    margin-bottom: 20%;
   

}

.left{
    width:100% ;
    position: relative;
   
}

.right{
    background-color: #191919;
    text-align: left;
    padding: 10%;
    position: absolute;
    left: 47%;
    top: 130%;
}

.right h2{
    color: #fd6060;
    font-size: 18px;
}

.right h1{
    color: #f9f9f9;
    font-size: 24px;
}

.right p{
    font-size: 25px;
    color: #f9f9f9;
    padding-top: 20px;
}



.menu-section {
  text-align: center;
  padding: 30px 20px;
  border-radius: 10px;
}

.menu-section h2 {
  font-size: 2em;
  margin-bottom: 5px;
}

.menu-section p {
  font-size: 1em;
  color: #555;
}

.dish-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15%;
}

.dish-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 230px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.dish{
    position: absolute;
    top: -28%;
    left: 16%;
}

.dish-card img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  object-fit: cover;
}

.dish-card h3 {
  margin: 10px 0;
  font-size: 1.3em;
  padding-top: 40%;
}

.price-button {
  background-color: #191919; 
  color: #f9f9f9;
  border: none;
  padding: 8px 12px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}



.desc {
  font-size: 0.9em;
  color: #191919;
  margin-bottom: 10px;
}

.button {
  background-color: #FFbc0d;
  color: #f9f9f9;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: -8%;
  right: 28%;
  
}

button:hover {
  background-color: #fd6060;
}

.stars {
  color: #FFbc0d;
  font-size: 1.2em;
  margin: 5px 0;
}



.testimonials {
  text-align: center;
  
  margin: auto;
}

.testimonials h2 {
  color: #fd6060;
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 30px;
}

.testimonials .subtitle {
  color: #948b8b;
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 30px;
}

.testimonial-container{
  display: flex;
  width: 100%;
  padding-left: 20%;
  
}


.testimonial-card {
  padding: 20px;
  width: 400px; 
  text-align: left;
  position: relative;
}

.testimonial-Card{
   padding: 20px;
  width: 400px; 
  text-align: left;
  position: absolute;
  right: 18%;
  top: 145rem;

  

}


.profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  margin-top: 5%;
}

.profile-info h4 {
  margin: 0;
  font-size: 1.1em;
}

.profile-info span {
  font-size: 10px;
  color: #191919;
}

.testimonial-text {
  color: #191919;
  margin-top: 10px;
 
 font-size:1.4rem ;
}

.testimonial-tex {
  color: #9b9393c2;
  margin-top: 10px;
  font-size:1.4rem ;
}





.see-more {
  margin-top: 50px;
}

.see-more button {
  background-color: #fd6060;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.see-more button:hover {
  background-color:#fd6060;
}




.promo-container {
  background: url('Assets/Mask\ group.png') no-repeat center center;
  height: 100vh;
  position: relative;
  border-radius: 8px  ;
}

.overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-content {
  text-align: center;
  color: white;
  max-width: 500px;
  padding: 20px;
}

.promo-content h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.subscribe-form input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 60%;
  min-width: 200px;
}

.subscribe-form button {
  padding: 10px 40px;
  background-color: #fd6060;
  color: #f9f9f9;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color:#fd6060;
}


.foot-cont .foot-logo img{
    width: 40px;
}
.foot-cont .foot-logo .foot-icons img{
    width: 30px;

}
.foot-cont{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    line-height: 150%;
}
.foot-cont .foot-logo p{
    width: 50%;
}
.foot-cont .foot-about ul li{
    list-style: none;
   
}
.foot-cont .foot-about ul li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        padding: 0px 10px;
        color: #555555;
        
     }

.foot-cont .foot-company ul li{
    list-style: none;
   
}
.foot-cont .foot-company ul li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        padding: 0px 10px;
         color: #555555;
     }

.foot-cont .foot-support ul li{
    list-style: none;
   
}
.foot-cont .foot-support ul li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        padding: 0px 10px;
         color: #555555;
     }
.foot-cont .foot-get-touch ul li{
    list-style: none;
   
}
.foot-cont .foot-get-touch ul li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        padding: 0px 10px;
         color:#555555;
}
